<table class='table table-striped'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td>
          <%= user.following_users.count %> following
        </td>
        <td>
          <%= pluralize(user.followed_users.count, "follower") %>
        </td>
        <td>
          <% if user != current_user %>
            <% if user.following(current_user).nil? %>
              <%= link_to "Follow", user_relationships_path(user.id), method: :post, class: "btn btn-primary font-weight-bold rounded-pill px-4"  %>
            <% else %>
              <%= link_to "Following", user_relationships_path(user.id), method: :delete, class: "btn btn-light border-dark font-weight-bold rounded-pill px-3 follow" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
